<div class="container">
    <app-caregivers></app-caregivers>
</div>
<div class="container">
    <app-patients></app-patients>
</div>
<div class="container">
    <app-medications></app-medications>
</div>
<div class="container">
    <app-piechart></app-piechart>
</div>
