<table class="table table-sm table-hover">
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Dosage</th>
          <th>Side Effects</th>
        </tr>
          <tr *ngFor="let medication of medicationService.medicationList">
            <td>{{medication.MedicationID}}</td>
            <td>{{medication.Name}}</td>
            <td>{{medication.Dosage}}</td>
            <td>{{medication.SideEffects}}</td>
            <td>
              <a class="btn" (click)="showForEdit(medication)">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <a class="btn text-danger" (click)="onDelete(medication.MedicationID)">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
        </table>