<form class="emp-form" #medicationForm="ngForm" (ngSubmit)="onSubmit(medicationForm)">
        <input type="hidden" name="MedicationID" #MedicationID="ngModel" [(ngModel)]="medicationService.selectedMedication.MedicationID">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input class="form-control" name="Name" #Name="ngModel" [(ngModel)]="medicationService.selectedMedication.Name"
                    placeholder="Name" required>
                  <div class="validation-error" *ngIf="Name.invalid && Name.touched">This Field is Required.</div>
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" name="Dosage" #Dosage="ngModel" [(ngModel)]="medicationService.selectedMedication.Dosage" placeholder="Dosage">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-9">
                <input class="form-control" name="SideEffects" #SideEffects="ngModel" [(ngModel)]="medicationService.selectedMedication.SideEffects" placeholder="Side Effects">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <button [disabled]="!medicationForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
                    <i class="fa fa-floppy-o"></i> Submit</button>
            </div>
            <div class="form-group col-md-4">
                <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(medicationForm)">
                    <i class="fa fa-repeat"></i> Reset</button>
            </div>
        </div>
    </form>
    