<div style="text-align:center">
  <h2 class=" bg-info text-white" style="padding: 20px; width:350px;border-radius:6px">Patients:</h2>
</div>
<div class="row">
  <div class="col-md-6">
    <app-patient-list></app-patient-list>
  </div>
  <div class="col-md-6">
      <app-patient></app-patient>
  </div> 
</div>