<div class = "center">
    <h4 >Pie Chart For Patient with id 1</h4>
    <input id="chartDate" bsDatepicker (bsValueChange)="onChange($event)" placeholder="Select one day">
</div>

<div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>

<div style="height: 100px;">

</div>   